.baggage{
    width: 5rem;
    height: 5rem;
    background:  wheat;
    border:solid 1px whitesmoke;
    display: flex;
    font-size: 2rem;
    color: dimgrey;
    align-items: center;
    justify-content: center;
    
    &.blank{
        background: dimgrey;
    }

}