.main-template{
    height: 100%;
    background: darkgrey;
    display: flex;
    flex-direction: column;
    .header-template{
        flex: 0.2;
    }
    .body-template{
        flex:0.8;
        display: flex;
        background: silver;
        .none-delivery-template{
            flex: 1;
          
        }
        .carrier-template{
            flex: 2.5;
            background:whitesmoke;
        }
        .delivered-template{
            flex: 1;
            
        }
    }



}